
body {
    background-color: #8f8e8e;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}
  
.heading h1 {
    font-size: 36px; 
    font-weight: bold;
    color: #f7f7f7; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    transition: color 0.3s ease-in-out;
    letter-spacing: 2px; 
    text-transform: uppercase;
}
  
.heading h1:hover {
    color: #3f3c2c; 
    cursor: pointer; 
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.inputTask {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.taskInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #444; 
    color: #fff; 
    outline: none;
    transition: background-color 0.3s ease; 
}

.taskInput:focus {
    background-color: #555; 
}

.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #555; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.addButton:hover {
    background-color: #666; 
}

.taskData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #444; 
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; 
}

.taskData:hover {
    background-color: #555; 
}

.taskData p {
    margin: 0;
    color: #ddd; 
    font-size: 16px;
    word-break: break-word; 
}

.icons {
    display: flex;
    gap: 10px; 
}

.deleteIcon {
    color: #121111; 
    cursor: pointer;
    transition: color 0.3s ease; 
}

.deleteIcon:hover {
    color: rgb(30, 27, 27); 
}
